body{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
    background-color:#ccfbf1;
}

.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    gap: 10px;
}

.displayed-book{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    height: 40px;
    width: 400px;
    background-color: #0d9488;
    color: white;
}

button {
    border-radius: 10px;
    border: none;
    cursor: pointer;
    background-color: #5eead4;
    height: 30px;
    width: 100px;
    color: white;
    font-weight: bold
}

button:hover{
    background-color: #0d9488;
}

.remove-btn{
    width: 50px;
    margin-right: 10px;
}

.remove-btn:hover{
    background-color: #2dd4bf;
}